.container {
  width: 200px;
  height: calc(100vh - 56px);
  box-shadow: var(--ll-box-shadow);
  border-right: 1px solid var(--color-button-accent);
}

.sidebar-list {
  padding: 1rem 1.5rem;
  display: grid;
  gap: 1rem;
  font-weight: var(--text-semibold);
}
.list-item {
  padding: 8px 12px;
  border-radius: 4px;
}
.list-item:hover {
  background-color: var(--color-button-accent-hover);
}
.sidebar-list .active-nav > .list-item {
  background-color: var(--color-sidebar-background);
  color: var(--ll-amber-500);
}
