.info-panel-title__name {
  font-size: var(--text-md);
  font-weight: var(--text-bold);
  margin-bottom: 8px;
  margin: unset;
}

.info-panel-title__subtitle {
  text-wrap: nowrap;
  font-size: var(--text-sm);
  color: var(--color-text-muted);
}
