.sales-by-country:not(:last-child) {
  margin-bottom: 8px;
}

.sales-by-country__avatar {
  flex: 0 0 38px;
}

.sales-by-country__info {
  flex: 0 0 86px;
}

.info-panel-value__change {
  display: flex;
  gap: 0.125rem;
}
.info-panel-value--increased {
  color: var(--color-success);
}

.info-panel-value--decreased {
  color: var(--color-danger);
}

.info-panel-value--balanced {
  color: var(--color-text-muted);
}
