.button {
  background-color: var(--color-primary);
  font-size: var(--text-sm);
  color: var(--ll-color-white);
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  transition: background 0.1s ease-in;
}

.button--small {
  font-size: var(--text-xs);
  padding: 2px 4px;
}

.button--medium {
  font-size: var(--text-base);
  padding: 4px 8px;
}

.button--large {
  font-size: var(--text-lg);
  padding: 6px 12px;
}

.button:hover {
  background-color: var(--color-primary);
}

.button:active {
  outline: 2px solid var(--color-button-outline);
}

.button--ghost {
  background-color: transparent;
  color: var(--color-primary);
}

.button--ghost:hover {
  background-color: var(--color-primary);
  color: var(--ll-color-white);
}

.button--outline {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.button--outline:hover {
  background-color: var(--color-primary);
  color: var(--ll-color-white);
}
