.button {
  font-size: var(--text-sm);
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button--small {
  font-size: var(--text-xs);
  padding: 2px 4px;
}

.button--medium {
  font-size: var(--text-base);
  padding: 4px 8px;
}

.button--large {
  font-size: var(--text-lg);
  padding: 6px 12px;
}

.button:active {
  outline: 2px solid var(--color-button-outline);
}

.button.button--ghost {
  background-color: unset;
  color: var(--color-text-muted);
}
.button.button--ghost.button--primary {
  background-color: unset;
  color: var(--color-primary);
}

.button--outline {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.button--outline:hover {
  background-color: var(--color-primary);
  color: var(--ll-color-white);
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--ll-color-white);
}

.button--white {
  background-color: var(--color-background);
  color: var(--color-text-muted);
  box-shadow: var(--ll-shadow);
}
