@import "colors/base.css";

:root {
  --color-surface: var(--ll-black-100);

  --color-text-base: var(--ll-slate-800);
  --color-text-muted: var(--ll-grey-400);

  --color-primary: var(--ll-blue-950);
  --color-primary-muted: var(--ll-blue-100);

  --color-success: var(--ll-emerald-500);
  --color-danger: var(--ll-red-500);
  --color-warning: var(--ll-amber-300);

  --color-background: var(--ll-color-white);
  --color-background-muted: var(--ll-slate-100);

  --color-border-basic: var(--ll-grey-200);
}
