.pagination__container {
  font-weight: var(--text-bold);
}

.pagination__btn {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  font-size: var(--text-base);
  color: var(--color-primary);
  font-weight: var(--text-semibold);
  outline: none;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border-radius: 4px;
}

.pagination__btn--disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.pagination__btn:not(.pagination__btn--disabled):hover {
  background-color: var(--color-fields);
}

.pagination__select {
  border: none;
  outline: none;
}
