.avatar {
  position: relative;
  color: var(--ll-color-white);
}

.avatar__image {
  background-color: var(--color-primary-muted);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__status {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--ll-emerald-500);
  border-radius: 50%;
  right: -1px;
  bottom: 0;
  border: 2px solid var(--ll-color-white);
}

.avatar--size-lg {
  height: 38px;
  width: 38px;
  font-weight: var(--text-bold);
}

.avatar--size-md {
  height: 32px;
  width: 32px;
  font-weight: var(--text-bold);
}

.avatar--size-xs {
  height: 24px;
  width: 24px;
  font-size: var(--text-sm);
}

.avatar--size-sm {
  height: 28px;
  width: 28px;
  font-size: var(--text-sm);
  font-weight: var(--text-bold);
}
