.tableWrapper table p {
  margin: unset;
}

.tableWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  border-radius: 16px;
  background-color: var(--color-background);
  box-shadow: var(--ll-shadow);
}

.tableWrapper table {
  width: inherit;
  border-collapse: collapse;
}
.tableWrapper thead {
  padding: 10px;
  overflow: hidden;
}

.tableWrapper th {
  padding: 10px;
  background-color: var(--color-background);
  text-align: start;
  text-transform: capitalize;
  font-weight: var(--text-semibold);
  line-height: 140%;
  white-space: nowrap;
  color: var(--color-text-muted);
}

.tableWrapper tr:hover {
  background-color: var(--color-background-muted);
}
.tableWrapper td {
  padding: 10px 10px;
  font-weight: 500;
}

.tableWrapper tr {
  border-bottom: 1px solid var(--color-background-muted);
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.desc {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

.paginationWrapper {
  width: 100%;
  display: flex;
  justify-items: flex-end;
}

.sortIcon {
  font-size: 10px;
  color: var(--color-primary);
}
